In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import pathlib as path

In [2]:
ruta = path.Path.cwd() / '00 - datasets' / 'data' / 'Anexado' / 'Sales_CSV'

In [3]:
def procesadora(ruta):
    df = (pd.read_csv(ruta)
          .drop(['Year', 'Month'], axis=1)
          )
    return df


all_files = list(ruta.glob('*.csv'))
dflist = (procesadora(f) for f in all_files)
df = pd.concat(dflist, ignore_index=True)
df

,ProductKey,OrderDate,ShipDate,CustomerKey,PromotionKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,OrderQuantity,UnitPrice,TotalProductCost,SalesAmount,TaxAmt
0,310,2006-01-01 00:00:00.000,2006-01-08 00:00:00.000,21768,1,6,SO43697,1,2,1789.1350,2171.2942,3578.2700,286.2616
1,346,2006-01-01 00:00:00.000,2006-01-08 00:00:00.000,28389,1,7,SO43698,1,2,1699.9950,1912.1544,3399.9900,271.9992
2,346,2006-01-01 00:00:00.000,2006-01-08 00:00:00.000,25863,1,1,SO43699,1,2,1699.9950,1912.1544,3399.9900,271.9992
3,336,2006-01-01 00:00:00.000,2006-01-08 00:00:00.000,14501,1,4,SO43700,1,2,349.5491,413.1463,699.0982,55.9279
4,346,2006-01-01 00:00:00.000,2006-01-08 00:00:00.000,11003,1,9,SO43701,1,2,1699.9950,1912.1544,3399.9900,271.9992
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58184,561,2008-12-30 00:00:00.000,2009-01-07 00:00:00.000,13650,1,9,SO74145,1,1,2384.0700,1481.9379,2384.0700,190.7256
58185,584,2008-12-30 00:00:00.000,2009-01-07 00:00:00.000,26916,1,9,SO74146,1,1,539.9900,343.6496,539.9900,43.1992
58186,605,2008-12-30 00:00:00.000,2009-01-07 00:00:00.000,27473,1,9,SO74147,1,1,539.9900,343.6496,539.9900,43.1992
58187,538,2008-12-30 00:00:00.000,2009-01-07 00:00:00.000,27473,1,9,SO74147,2,1,21.4900,8.0373,21.4900,1.7192
58188,490,2008-12-30 00:00:00.000,2009-01-07 00:00:00.000,27473,1,9,SO74147,3,1,53.9900,41.5723,53.9900,4.3192

In [ ]:
df2.to_excel('C://Users//benit//Downloads//salida.xlsx')

In [29]:
tresmejores= df.loc[:, 'SalesOrderNumber'].value_counts().nlargest(10).index[:3]
df[df.SalesOrderNumber.isin(tresmejores)]

,ProductKey,OrderDate,ShipDate,CustomerKey,PromotionKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,OrderQuantity,UnitPrice,TotalProductCost,SalesAmount,TaxAmt
22722,596,2008-05-30 00:00:00.000,2008-06-07 00:00:00.000,20046,1,7,SO58845,1,2,269.995,294.5797,539.99,43.1992
22723,535,2008-05-30 00:00:00.000,2008-06-07 00:00:00.000,20046,1,7,SO58845,2,2,12.495,9.3463,24.99,1.9992
22724,528,2008-05-30 00:00:00.000,2008-06-07 00:00:00.000,20046,1,7,SO58845,3,2,2.495,1.8663,4.99,0.3992
22725,485,2008-05-30 00:00:00.000,2008-06-07 00:00:00.000,20046,1,7,SO58845,4,2,10.990,8.2205,21.98,1.7584
22726,478,2008-05-30 00:00:00.000,2008-06-07 00:00:00.000,20046,1,7,SO58845,5,2,4.995,3.7363,9.99,0.7992
22727,477,2008-05-30 00:00:00.000,2008-06-07 00:00:00.000,20046,1,7,SO58845,6,2,2.495,1.8663,4.99,0.3992
22728,217,2008-05-30 00:00:00.000,2008-06-07 00:00:00.000,20046,1,7,SO58845,7,2,17.495,13.0863,34.99,2.7992
22729,237,2008-05-30 00:00:00.000,2008-06-07 00:00:00.000,20046,1,7,SO58845,8,2,24.995,38.4923,49.99,3.9992
50004,359,2008-11-16 00:00:00.000,2008-11-23 00:00:00.000,16916,1,5,SO70714,1,2,1147.495,1251.9813,2294.99,183.5992
50005,537,2008-11-16 00:00:00.000,2008-11-23 00:00:00.000,16916,1,5,SO70714,2,2,17.500,13.0900,35.00,2.8000
50006,528,2008-11-16 00:00:00.000,2008-11-23 00:00:00.000,16916,1,5,SO70714,3,2,2.495,1.8663,4.99,0.3992
50007,485,2008-11-16 00:00:00.000,2008-11-23 00:00:00.000,16916,1,5,SO70714,4,2,10.990,8.2205,21.98,1.7584
50008,477,2008-11-16 00:00:00.000,2008-11-23 00:00:00.000,16916,1,5,SO70714,5,2,2.495,1.8663,4.99,0.3992
50009,478,2008-11-16 00:00:00.000,2008-11-23 00:00:00.000,16916,1,5,SO70714,6,2,4.995,3.7363,9.99,0.7992
50010,491,2008-11-16 00:00:00.000,2008-11-23 00:00:00.000,16916,1,5,SO70714,7,2,26.995,41.5723,53.99,4.3192
50011,225,2008-11-16 00:00:00.000,2008-11-23 00:00:00.000,16916,1,5,SO70714,8,2,4.495,6.9223,8.99,0.7192
54439,363,2008-12-11 00:00:00.000,2008-12-18 00:00:00.000,15614,1,10,SO72656,1,1,2294.990,1251.9813,2294.99,183.5992
54440,485,2008-12-11 00:00:00.000,2008-12-18 00:00:00.000,15614,1,10,SO72656,2,1,21.980,8.2205,21.98,1.7584
54441,478,2008-12-11 00:00:00.000,2008-12-18 00:00:00.000,15614,1,10,SO72656,3,1,9.990,3.7363,9.99,0.7992
54442,477,2008-12-11 00:00:00.000,2008-12-18 00:00:00.000,15614,1,10,SO72656,4,1,4.990,1.8663,4.99,0.3992
54443,487,2008-12-11 00:00:00.000,2008-12-18 00:00:00.000,15614,1,10,SO72656,5,1,54.990,20.5663,54.99,4.3992
54444,217,2008-12-11 00:00:00.000,2008-12-18 00:00:00.000,15614,1,10,SO72656,6,1,34.990,13.0863,34.99,2.7992
54445,237,2008-12-11 00:00:00.000,2008-12-18 00:00:00.000,15614,1,10,SO72656,7,1,49.990,38.4923,49.99,3.9992
54446,225,2008-12-11 00:00:00.000,2008-12-18 00:00:00.000,15614,1,10,SO72656,8,1,8.990,6.9223,8.99,0.7192