In [2]:
import numpy as np
import pandas as pd

import requests
import json
import glob


### Flat file

read_table(filepath_or_buffer[, sep, …]) Read general delimited file into DataFrame.

read_csv(filepath_or_buffer[, sep, …]) Read a comma-separated values (csv) file into DataFrame.

read_fwf(filepath_or_buffer[, colspecs, …]) Read a table of fixed-width formatted lines into DataFrame.

### Clipboard

read_clipboard([sep]) Read text from clipboard and pass to read_csv.

### Excel

read_excel() Read an Excel file into a pandas DataFrame.

In [4]:
xl = pd.ExcelFile('00 - datasets/TablasDinamicas.xlsx')
xl.sheet_names

['PARQUES',
 'STATION',
 'PETITBAKERIE',
 'ESPN',
 'MAQUILLAJE',
 'PARETO',
 'TAPEDATA',
 'STORES',
 'STORES II',
 'MADRID']

In [12]:
df = pd.read_excel(open('00 - datasets/TablasDinamicas.xlsx','rb'), sheet_name='PARQUES')
df

,Parque,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Great Smoky Mountains NP,9197697,9316420,9366845,9167046,9192477,9289215,9372253,9044010,9491437,9463538,9008830
1,Grand Canyon NP,4104809,4001974,4124900,4326234,4401522,4279439,4413668,4425314,4348068,4388386,4298178
2,Olympic NP,3416069,3691310,3225327,3073722,3142774,2749197,2988686,3081451,3276459,2844563,2966502
3,Yosemite NP,3368731,3361867,3378664,3280911,3304144,3242644,3503428,3431514,3737472,3901408,3951393
4,Rocky Mountain NP,3139685,2988475,3067256,2781899,2798368,2743676,2895383,2757390,2822325,2955821,3176941
5,Cuyahoga Valley NP,3123353,3217935,2879591,3306175,2533827,2468816,2486656,2828233,2589288,2492670,2161185
6,Yellowstone NP,2758526,2973677,3019375,2868317,2835651,2870295,3151343,3066580,3295187,3640185,3394326
7,Grand Teton NP,2535108,2612629,2355693,2360373,2463442,2406476,2588574,2485987,2580081,2669374,2587437
8,Acadia NP,2516551,2558572,2431062,2207847,2051484,2083588,2202228,2075857,2227698,2504208,2374645
9,Zion NP,2217779,2592545,2458792,2677342,2586665,2567350,2657281,2690154,2735402,2665972,2825505
10,Mammoth Cave NP,1883580,1891307,1869137,1888267,1878006,597934,487305,446174,503856,497225,483319
11,Glacier NP,1680614,1905689,1664046,2033933,1925101,1964399,2083329,1808027,2031348,2200048,1853564
12,Shenandoah NP,1498561,1389244,1163950,1261000,1094912,1076150,1107227,1075878,1120981,1253386,1209883
13,Haleakala NP,1410974,1521080,1444668,1455477,1474681,1426068,1322817,1185068,1109104,1105606,956989
14,Hawaii Volcanoes NP,1343286,1110998,991875,1307391,1661196,1612246,1467779,1270538,1233105,1304667,1352123
15,Mount Rainier NP,1301103,1310390,1262351,1217750,1173897,1113601,1047685,1163227,1151654,1191754,1038229
16,Hot Springs NP,1296786,1440227,1561311,1418735,1340160,1273456,1300152,1238147,1284707,1311807,1396354
17,Joshua Tree NP,1280917,1178376,1283346,1243659,1375111,1256421,1298979,1392446,1304471,1434976,1396237
18,Bryce Canyon NP,1068619,886436,903760,987253,1017681,890676,1012563,1043321,1216377,1285492,1296000
19,Everglades NP,1049851,968909,1040648,1181355,1233837,954022,1074764,822118,900882,915538,934351
20,Death Valley NP,1014636,897596,890375,764820,800113,744440,704122,871938,828574,984775,946867
21,Badlands NP,955469,908898,871034,936030,909146,840118,886654,845734,933918,977778,870741
22,Sequoia NP,870327,920292,979297,1000177,1004843,954507,979537,930011,965170,1002979,1006583
23,Arches NP,754026,769672,757781,733131,781670,833049,860181,928795,996312,1014405,1040758
24,Saguaro NP,725874,615045,643697,651464,727208,619983,658477,699137,665234,717614,610045
25,Virgin Islands NP,677401,693494,821681,793590,803040,677289,571382,469034,415847,493477,442414
26,Wind Cave NP,650357,810298,874167,593877,612478,591049,603158,573433,587868,577141,538394
27,Petrified Forest NP,583904,571586,586245,580000,598378,581681,563590,543714,631613,664725,614054
28,Capitol Reef NP,527760,525646,535441,549708,550255,511511,554907,604811,617208,662661,668834

In [15]:
df = pd.read_excel(open('00 - datasets/TablasDinamicas.xlsx','rb'), sheet_name=2)

ExcelFile.parse([sheet_name, header, names, …]) Parse specified sheet(s) into a DataFrame.

ExcelWriter(path[, engine])  Class for writing DataFrame objects into excel sheets.

In [17]:
to_excel

NameError: name 'to_excel' is not defined

https://stackoverflow.com/questions/28766133/faster-way-to-read-excel-files-to-pandas-dataframe

https://xlsxwriter.readthedocs.io/example_pandas_simple.html

### JSON

In [ ]:
patients = {
         "Name":{"0":"John","1":"Nick","2":"Ali","3":"Joseph"},
         "Gender":{"0":"Male","1":"Male","2":"Female","3":"Male"},
         "Nationality":{"0":"UK","1":"French","2":"USA","3":"Brazil"},
         "Age" :{"0":10,"1":25,"2":35,"3":29}
}
cars = [
    {"Name":"Honda", "Price": 10000, "Model":2005, "Power": 1300},
    {"Name":"Toyota", "Price": 12000, "Model":2010, "Power": 1600},
    {"Name":"Audi", "Price": 25000, "Model":2017, "Power": 1800},
    {"Name":"Ford", "Price": 28000, "Model":2009, "Power": 1200}]

with open('patients.json', 'w') as f:
    json.dump(patients, f)
    
with open('cars.json', 'w') as f:
    json.dump(cars, f)

In [ ]:
url = "https://api.exchangerate-api.com/v4/latest/USD"
df = pd.read_json(url)
df

read_json() Convert a JSON string to pandas object.

In [ ]:
df=pd.read_json('patients.json')
df

json_normalize(data[, record_path, meta, …])  Normalize semi-structured JSON data into a flat table.

build_table_schema(data[, index, …]) Create a Table schema from data.

### HTML

read_html() Read HTML tables into a list of DataFrame objects.

https://pbpython.com/pandas-html-table.html

In [5]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')
df = table_MN[0]
df

,Minnesota,Minnesota.1
0,State,State
1,State of Minnesota,State of Minnesota
2,FlagSeal,FlagSeal
3,"Nickname(s): Land of 10,000 Lakes;North Star S...","Nickname(s): Land of 10,000 Lakes;North Star S..."
4,Motto(s): L'Étoile du Nord (French: The Star o...,Motto(s): L'Étoile du Nord (French: The Star o...
5,"Anthem: ""Hail! Minnesota""","Anthem: ""Hail! Minnesota"""
6,Map of the United States with Minnesota highli...,Map of the United States with Minnesota highli...
7,Country,United States
8,Before statehood,Minnesota Territory
9,Admitted to the Union,"May 11, 1858 (32nd)"
10,Capital,Saint Paul
11,Largest city,Minneapolis
12,Largest metro,Minneapolis–Saint Paul
13,Government,Government
14,• Governor,Tim Walz (DFL)
15,• Lieutenant Governor,Peggy Flanagan (DFL)
16,Legislature,Minnesota Legislature
17,• Upper house,Senate
18,• Lower house,House of Representatives
19,Judiciary,Minnesota Supreme Court
20,U.S. senators,Amy Klobuchar (DFL)Tina Smith (DFL)
21,U.S. House delegation,5 Democrats3 Republicans (list)
22,Area,Area
23,• Total,"86,950 sq mi (225,163 km2)"
24,• Land,"79,610 sq mi (206,375 km2)"
25,• Water,"7,329 sq mi (18,990 km2) 8.40%"
26,Area rank,12th
27,Dimensions,Dimensions
28,• Length,about 400 mi (640 km)
29,• Width,200–350 mi (320–560 km)
30,Elevation,"1,200 ft (370 m)"
31,Highest elevation (Eagle Mountain[1][2]),"2,301 ft (701 m)"
32,Lowest elevation (Lake Superior[1][2][3]),602 ft (183 m)
33,Population (2019),Population (2019)
34,• Total,"5,639,632[4]"
35,• Rank,22nd
36,• Density,68.9/sq mi (26.6/km2)
37,• Density rank,30th (2015 estimate)
38,• Median household income,"$68,388[5]"
39,• Income rank,10th
40,Demonym(s),Minnesotan
41,Language,Language
42,• Official language,None
43,• Spoken language,English 88.9% Spanish Hmong[6] Danish Norwegi...
44,Time zone,UTC−06:00 (Central)
45,• Summer (DST),UTC−05:00 (CDT)
46,USPS abbreviation,MN
47,ISO 3166 code,US-MN
48,Traditional abbreviation,Minn.
49,Latitude,43° 30′ N to 49° 23′ N
50,Longitude,89° 29′ W to 97° 14′ W
51,Website,mn.gov

In [8]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota', match='Election results from statewide races')
df=table_MN[0]
df

    Year     Office    GOP    DFL Others
0   2020  President  45.3%  52.4%   2.3%
1   2020    Senator  43.5%  48.8%   7.7%
2   2018   Governor  42.4%  53.9%   3.7%
3   2018    Senator  36.2%  60.3%   3.4%
4   2018    Senator  42.4%  53.0%   4.6%
5   2016  President  44.9%  46.4%   8.6%
6   2014   Governor  44.5%  50.1%   5.4%
7   2014    Senator  42.9%  53.2%   3.9%
8   2012  President  45.1%  52.8%   2.1%
9   2012    Senator  30.6%  65.3%   4.1%
10  2010   Governor  43.2%  43.7%  13.1%
11  2008  President  43.8%  54.1%   2.1%
12  2008    Senator  42.0%  42.0%  16.0%
13  2006   Governor  46.7%  45.7%   7.6%
14  2006    Senator  37.9%  58.1%   4.0%
15  2004  President  47.6%  51.1%   1.3%
16  2002   Governor  44.4%  33.5%  22.1%
17  2002    Senator  49.5%  47.3%   1.0%
18  2000  President  45.5%  47.9%   6.6%
19  2000    Senator  43.3%  48.8%   7.9%
20  1998   Governor  34.3%  28.1%  37.6%
21  1996  President  35.0%  51.1%  13.9%
22  1996    Senator  41.3%  50.3%   8.4%
23  1994   Governor  63.3%  34.1%   2.6%
24  1994    Senator  49.1%  44.1%   6.8%
25  1992  President  31.9%  43.5%  24.6%

### Otros mecanismos

In [3]:
data = requests.get(
    'https://min-api.cryptocompare.com/data/histoday?fsym=BTC&tsym=ETH&limit=30&aggregate=1&e=CCCAGG').json()['Data']
df = pd.DataFrame.from_dict(data)
df.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1605744000,38.01,36.97,37.15,23621.92,887917.88,37.78,invert,
1,1605830400,37.85,35.84,37.78,38018.87,1396266.66,36.58,invert,
2,1605916800,36.89,33.82,36.58,39517.54,1400822.64,33.84,invert,
3,1606003200,34.44,32.11,33.84,48304.15,1617888.36,32.87,invert,
4,1606089600,32.92,30.18,32.87,61384.49,1927391.88,30.18,invert,